.experience {
    .text-container {
        display: block;
        width: 90vw;
    }
    .text-container .tile {
        padding: 15px;
        // margin: 40px;
        width: auto;
    }
    .tile div.text {
        padding: 1.5rem;
    }
    .tile p { 
        padding: 0.75rem;
    }
    .tile {
        height: 33%;
    }
    .job-title {
        font-size: 1.25rem;
        text-transform: uppercase;
    }
    .date {
        font-weight: 700;
    }
    @media screen and (min-width: 600px) {
        .job-title {
            font-size: 1.75rem;
        }
        .text-container .tile {
            margin: 3rem auto;
        }
    }
    @media screen and (min-width: 768px) {
        .text-container {
            display: flex;
            align-items: stretch;
            justify-content: center;
        }
        .text-container .tile {
            margin: 1rem;
        }
    }
}