.App {
  /* text-align: center; */
  font-family: 'Playfair Display', serif;
} 

.app-header {
  background-color: #FFF;
}
.App-link {
  color: #09d3ac;
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;  
  background: #FFF url("trellis-tile-new.svg") repeat; 
  height: 97vh;
  width: 100vw;
  stroke: transparent;
  stroke-width: 0px;
  border: none;
  stroke: transparent;
  stroke-width: 0px;
}
.name-container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  width: 80%; 
  background-color: #FFFFFF;
  padding: 4.5rem; 
  border: 0.5rem #0B8559 solid;
  font-family: 'Raleway', sans-serif;
}


.name-container .name {
  font-size: 2.5rem;
  /* flex-grow: 2; */
  /* flex-basis: 4; */
}

.name-container .title {
  padding: 1rem 0;
  font-size: 1.25rem;
  /* flex-basis:1; */
}

.content-bottom { 
  width: 100%;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.content-bottom .tile {
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 0.25rem;
  text-align: center; 
  border: 1px solid #aaa;
  width:85vw;
  margin: 3rem auto;
}

@media screen and (min-width: 600px) {
  .name-container {
    width: 40vh; 
  }
  .name-container .name {
    font-size: 4rem;
  }
  .name-container .title { 
    font-size: 1.75rem;
    /* flex-basis:1; */
  }
  .content-bottom .tile {
    padding: 1rem;
    width:60vw;
    margin: 4.5rem auto;
  }
  .section .title {
    font-size: 4.5rem;
  }
  .content-bottom .tile > div {
    padding: 3.5rem;
  }
}
 
.section .title {
  font-size: 4rem;
  font-family: 'Playfair Display', serif;
}

.content-bottom .tile > div {
  padding: 2rem;
}
 
.tile .text {
  font-size: 1rem;
  line-height: 1.5;
} 
.app-header {
  .menu-container {
      position: fixed;
      display: flex;
      top: 0;
      left: 0;
      right:0;
      z-index: 999; 
      padding: 0.5rem 0;
      background-color: #FFF;
      align-items: center;
      justify-content: center;
      box-shadow: 1px 0px 20px #aaa;
      font-weight: 700;
      min-height: 2.5rem;
  }
  
  .menu-container ul {
      padding: 0;
      margin: 0.75rem 0;
  }
  
  .menu-container ul li{
      padding: 0.5rem 0.75rem;
      text-transform: uppercase; 
      font-size: 1rem;
      flex-wrap: wrap; 
      list-style: none;
      display: inline;
  } 

  .menu-container li a {
      text-decoration: none;
      color: #000;
  }
  .menu-container li a:visited {
      color: #000;
  }
  
  .menu-container li a:hover {
    text-decoration: underline;
  }

  .menu-container li a.active {
    // font-weight: 700;
    text-decoration: underline;
  }

  @media screen and (min-width: 600px) {
    .menu-container ul li{
      padding: 0.5rem 1.5rem;
    }
  }
}