* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Playfair Display', Arial, serif;
  font-size: 1.6rem;
  height: 100vh;
  min-height: 100vh;
  width: 100vw; 
  color: #000;
  background-color: #FFF;

}

.menu-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right:0;
  z-index: 999; 
  padding: 15px 0;
  color: #000;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 0px 15px #aaa;
}

.menu-container div {
  padding: 5px 25px;
  text-transform: uppercase; 
  font-size: 14px;
  flex-wrap: wrap; 
}
