.stack {
    .logos {
        display: flex;
        flex-wrap: wrap;
        padding: 0.5rem;
        color: #1F1D41;
        font-size: 3rem;
    }
    
    .logos i { 
        padding: 0.75rem;
    }
    
    .second.tile {
        display: block;
    }
    .back {
        flex-basis: 25%;
    }

    @media screen and (min-width: 600px) {
        .logos i { 
            padding: 0.75rem;
        }
        .second.tile {
            align-items: flex-start;
        }
    }

} 

