.stack {
    .logos {
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
        color: #1F1D41;
        font-size: 3rem;
    }
    
    .logos i { 
        padding: 8px;
    }
    
    .second.tile {
        align-items: flex-start;
    }
    .back {
        flex-basis: 25%;
    }
} 