.App-footer {
    font-family: 'Raleway', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 0px 15px #aaa;
    background-color: #1F1D41;
    color: #FFF;
    height: 30vh;
}