.App-footer {
    font-family: 'Raleway', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 0px 20px #aaa;
    background-color: #1F1D41;
    color: #FFF;
    height: 30vh;
} 
.App-footer p {
    font-size: 1.25rem;
}

@media screen and (min-width: 600px) {
    .App-footer p {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 768px) {
    .App-footer p {
        font-size: 1.75rem;
    }
}

@media screen and (min-width: 1200) {
    .App-footer p {
        font-size: 2rem;
    }
}
@media screen and (min-width: 1800) {
    .App-footer p {
        font-size: 2.5rem;
    }
}
